.main2 {
    /* width: 584px; */
    height: 133px;
    margin-left: 25px;
}

.mainhe {
    font-family: 'Roboto';
    font-style: normal;
    color: #000000;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

}

.para1 {
    font-family: 'Roboto';
    margin-top: 15px;
    color: #000000;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 19px;

}

.main1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.btn1 {
    padding: 10px 20px;
    gap: 10px;
    width: 96px;
    height: 50px;
    background: #FF6584;
    border-radius: 6px;
    margin-right: 15px;
}


.btn2 {
    padding: 10px 20px;
    gap: 10px;
    width: 288px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 6px;

}

.dogImag {

    /* margin-left: 20rem; */
}

.havep {
    position: relative;
    background-color: #EBF9FF;
    
}

.havepe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.7);

}
.leftbu{
    right: 15px;
}

.leftbu1{
    right: 15px;
}


.tablem1 {
    width: 28rem;
    height: 10rem;
    margin-top: 2rem;
}
.btn-link {
    --bs-btn-color: #3a3f47;
}

.tablem1 th {
    padding: 1rem 0rem;
}
.tablem1 td{
    padding: 1rem 0rem;
}

@media screen and (max-width:460px) {
    .main1 {
        flex-direction: column;
    }

    .main2 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
       

        /* left: 11rem; */
        letter-spacing: 0.5px;

        color: #000000;

    }

    .dogImag {
        width: 152.35px;
        height: 59px;
    }

    .mainhe {
        font-size: 18px;
    }

    .para1 {
        height: 122px;
        width: 292px;
        font-size: 13px;
    }

    .btn-wrapper {
        display: flex;
        flex-direction: column;

    }

    .btn1 {
        margin-bottom: 1rem;

        padding: 10px 20px;
        gap: 10px;

        width: 241px;
        height: 44px;

        background: #FF6584;
        border-radius: 6px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .btn2 {
        padding: 16px;
        width: 240px;
        font-family: 'Lato';
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
    

}